App/pkgs/Wadl/PowerApp-%3eRequestType%2cGroupIs%2cCondition%2cSendanHTTPrequesttoS....xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerApp-&gt;RequestType,GroupIs,Condition,SendanHTTPrequesttoS..." xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PowerApp -&gt; RequestType,GroupIs,Condition,Send an HTTP request to S..." />
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_RequestType_Inputs_def" />
      <string name="ManualTriggerInput_GroupIs_Inputs_def" />
      <string name="ManualTriggerInput_GroupName_Inputs_def" />
      <object name="ManualTriggerInput">
        <property name="RequestType_Inputs" type="string" />
        <property name="GroupIs_Inputs" type="string" />
        <property name="GroupName_Inputs" type="string" />
      </object>
      <string name="ResponseActionOutput_respond_def" />
      <object name="ResponseActionOutput">
        <property name="respond" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="RequestType_Inputs" path="/RequestType_Inputs" type="xs:string" required="true" />
            <param style="plain" name="GroupIs_Inputs" path="/GroupIs_Inputs" type="xs:string" required="true" />
            <param style="plain" name="GroupName_Inputs" path="/GroupName_Inputs" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>